{
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "NODE_ENV": true,
    "web3": true
  },
  "extends": [
    "standard",
    "plugin:react/recommended",
    "prettier",
    "prettier/standard"
  ],
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "semi": false
      }
    ]
  }
}
